.gridContainer {
  position: relative;

  .grid {
    display: grid;
    grid-gap: 0px;
    outline: 1px solid yellow;

    &.editMode {
      background-color: rgb(0, 0, 0, 0.01);
    }

    .gridRow {
      display: grid;
      grid-gap: 0px;
      grid-auto-flow: column;
      width: 100%;
    }

    .gridCol {
      height: 100%;
    }

    .gridCell {
      width: 100%;
      height: 100%;
      border: 1px solid rgb(0,0,0,0.65);

      &.editMode {
        border: 1px solid yellow;
      }
    }
  }

  .grid-resize-corner {
    position: relative;
    left: 100%;
    top: 100%;
    width: 0px;
    height: 0px;
    transform: translate3d(-50%, -50%, 0) rotateZ(45deg);
    border-style: solid;
    border-width: 8px;
    border-color: transparent transparent transparent yellow;
    cursor: nwse-resize;
  }

  .gridControls {
    display: flex;
    margin-top: 10px;

    .gridControl {
      background-color: #232323;
      color: gray;
      border-radius: 8px;
      border: 2px solid gray;
      text-align: center;
      padding: 4px;
      width: 100px;
      margin: auto;

      > .mat-icon {
        position: relative;
        top: 2px;
        width: 19px;
        height: 19px;
        font-size: 15px;
      }
    }

    .tabName {
      width: auto;
      color: lightgray;
    }
  }
}
