<ng-container *ngIf="(stashGridOptions$ | async) as options">
  <ng-container *ngIf="visible">
    <div class="gridContainer"
         appResizeDrag
         [ardBounds]="gridBounds"
         [ardAppliedBounds.height]="false"
         [ardExtendDragArea]="true"
         [ardInteractionsDisabled]="options.gridMode !== StashGridMode.Edit"
         [ardAllowResize]="options.gridMode === StashGridMode.Edit"
         (ardResizeDrag)="onResizeDrag($event)">
      <div class="grid"
           [style.height.px]="gridBounds.height"
           [class.interactable]="options.gridMode === StashGridMode.Edit"
           [class.editMode]="options.gridMode === StashGridMode.Edit"
           [style.outline-color]="ColorUtils.toRGBA(settings.stashGridColors.gridOutline)">
        <div class="gridRow" *ngFor="let row of cellArray; let rowIndex = index">
          <div class="gridCol" *ngFor="let col of cellArray; let colIndex = index">
            <ng-container *ngTemplateOutlet="
                    gridCell;
                    context: {
                      highlight: intersectsHighlightBounds(colIndex, rowIndex)
                    }
                    ">
            </ng-container>
          </div>
        </div>
      </div>
      <div class="gridControls" [ngSwitch]="options.gridMode">
        <ng-container *ngSwitchCase="StashGridMode.Normal">
          <div class="gridControl clickable" (click)="toggleStashGrid()">
            {{ 'trade-companion.stash-grid.toggle' | translate }} <mat-icon>grid_on</mat-icon>
          </div>
          <div class="gridControl interactable tabName" *ngIf="options.highlightLocation" matTooltip="{{ 'trade-companion.stash-grid.tab' | translate }}: {{ options.highlightLocation.tabName }}">
            {{ options.highlightLocation.tabName }}
          </div>
          <div class="gridControl clickable" (click)="cancelChanges()">
            {{ 'trade-companion.stash-grid.close' | translate }}
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="StashGridMode.Edit">
          <div class="gridControl clickable" (click)="saveChanges()">
            {{ 'trade-companion.stash-grid.save' | translate }}
          </div>
          <div class="gridControl clickable" (click)="cancelChanges()">
            {{ 'trade-companion.stash-grid.cancel' | translate }}
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="StashGridMode.Preview">
          <div class="gridControl interactable" matTooltip="{{ 'trade-companion.stash-grid.disabled' | translate }}">
            {{ 'trade-companion.stash-grid.toggle' | translate }} <mat-icon>grid_on</mat-icon>
          </div>
          <div class="gridControl interactable tabName" *ngIf="options.highlightLocation" matTooltip="{{ 'trade-companion.stash-grid.tab' | translate }}: {{ options.highlightLocation.tabName }}">
            {{ options.highlightLocation.tabName }}
          </div>
          <div class="gridControl clickable" (click)="cancelChanges()">
            {{ 'trade-companion.stash-grid.close' | translate }}
          </div>
        </ng-container>
      </div>
    </div>
  </ng-container>
  <ng-template #gridCell let-highlight="highlight">
    <div class="gridCell"
         [class.editMode]="options.gridMode === StashGridMode.Edit"
         [style.background-color]="getGridBackgroundColor(highlight)"
         [style.border-color]="getGridLineColor(highlight)"></div>
  </ng-template>
</ng-container>
