<div class="panel interactable"
     *ngIf="settings.tradeCompanionEnabled"
     appResizeDrag
     [ardBounds]="settings.tradeCompanionBounds || gameBounds"
     [ardReversePosition.y]="settings.reversedNotificationDirection"
     [ardOffset.y]="calcOffsetY()"
     [ardAppliedBounds.width]="false"
     [ardAppliedBounds.height]="false"
     [ardExtendDragArea]="true"
     [ardInteractionsDisabled]="locked"
     (ardResizeDragEnd)="onResizeDragEnd($event)"
     [class.movable]="!locked"
     [class.reversed]="settings.reversedNotificationDirection"
     >
  <div class="header" [appAlphaColor]="['background-color', 'border-color']" [appAlphaColor.alpha]="settings.tradeCompanionOpacity" #header>
    <mat-icon class="clickable" (click)="locked = !locked" matTooltip="{{ 'trade-companion.trade-notification-panel.' + (locked ? 'locked' : 'unlocked') | translate }}">{{ locked ? 'lock' : 'lock_open' }}</mat-icon>
    <mat-icon [class.movable]="!locked" matTooltip="{{ 'trade-companion.trade-notification-panel.' + (locked ? 'unlock-to-move' : 'drag-handle') | translate }}">open_with</mat-icon>
    <mat-icon class="clickable" (click)="openSettings.emit()" matTooltip="{{ 'trade-companion.trade-notification-panel.settings' | translate }}">settings</mat-icon>
    <mat-icon class="clickable" (click)="close()" matTooltip="{{ 'trade-companion.trade-notification-panel.disable' | translate }}">power_settings_new</mat-icon>
  </div>
  <div class="notifications">
    <ng-container *ngFor="let notification of notifications; let index=index">
      <app-trade-notification *ngIf="index < settings.maxVisibileTradeNotifications" [notification]="notification" [settings]="settings" (dismissNotification)="onDismissNotification($event)">
      </app-trade-notification>
    </ng-container>
  </div>
</div>
