<ng-container *ngIf="(userSettings$ | async) as userSettings">
  <ng-container *ngIf="(gameOverlayBounds | async) as gameOverlayBounds">
    <div class="game-overlay"
         id="game-overlay"
         [style.left.px]="gameOverlayBounds.x"
         [style.top.px]="gameOverlayBounds.y"
         [style.width.px]="gameOverlayBounds.width"
         [style.height.px]="gameOverlayBounds.height">
      <app-trade-companion-stash-grid [settings]="userSettings"></app-trade-companion-stash-grid>
      <div class="version" *ngIf="userSettings.displayVersion">PoE Overlay: {{ version$ | async }}</div>
    </div>
    <app-trade-notifications-panel [settings]="userSettings"
                                   [gameBounds]="gameOverlayBounds"
                                   (openSettings)="openUserSettings()">
    </app-trade-notifications-panel>
  </ng-container>
</ng-container>
