@import './../../../../styles/variables';

::ng-deep {
  ::-webkit-scrollbar {
    display: none;
  }

  body *::-webkit-scrollbar {
    display: block;
  }
}

.game-overlay {
  position: fixed;
}

.version {
  color: $yellow;
  position: absolute;
  bottom: 2px;
  left: 2px;
  font-size: 9px;
  opacity: 0.5;
  text-shadow: $black;
  font-family: FontinSmallCaps;
  user-select: none;
}
