$dark-gray: #2a2a2a;
$gray: #313131;
$label-color: rgba(200, 200, 200, 0.54);
$input-color: rgba(200, 200, 200, 0.87);

app-card {
  .card, button {
    background-color: $dark-gray;
  }

  .card {
    position: relative;

    button {
      background-color: $gray;
    }

    .remove {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
    }
  }

  .card-button {
    padding: 16px;
    width: 100%;
  }

  .cp-input {
    padding-right: 20px;
  }
}

::ng-deep {
  app-card {
    .mat-form-field-prefix,
    .mat-form-field-suffix {
      align-self: flex-end;
      position: absolute;
      right: 4px;

      .mat-icon {
        font-size: 100%;
        line-height: 1;
      }
    }

    color-picker {
      .color-picker {
        background-color: $dark-gray;
        color: $label-color;

        .rgba-text .box div {
          color: $label-color;
        }

        .type-policy {
          display: none;
        }

        .cursor {
          border-color: $input-color;
        }

        input {
          background-color: $dark-gray;
          color: $input-color;
        }

        button {
          font-size: 14px;
        }
      }
    }
  }
}

label {
  display: block;
  color: $label-color;
  font-size: 12px;
  transform: perspective(100px) translateZ(0.001px);
}

.value-range {
  > .slider {
    display: flex;
    align-items: center;
    justify-content: center;

    .mat-slider {
      width: 100%;
    }
  }
}
